# Data Types

## There are three different data types in Machine learning


1.   Numerical - numbers

2.   Categorical - discrete belong to specific groups and cannot be measured against each other

3. Ordinal - similar to categorical  but can measured against each other

### Install Pandas

In [ ]:
%pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# Import Pandas

In [ ]:
import pandas as pd

# Numerical Dataset

In [ ]:
# Creating a sample Data Frame
data = {'Age': [25, 30, 35, 40]}

df = pd.DataFrame(data)

print(df)

   Age
0   25
1   30
2   35
3   40

# Continuous Data - not limited to integers

In [ ]:
data["height"] = [175.3, 180, 190, 212.5]
data["salary"] = [1500.5, 1988.25, 2500, 1888]

df = pd.DataFrame(data)
print(df)

   Age  height   salary
0   25   175.3  1500.50
1   30   180.0  1988.25
2   35   190.0  2500.00
3   40   212.5  1888.00

# Categorical Dataset

In [ ]:
data["gender"] = ["Male", "Female", "Male", "Female"]
data["education"] = ["Bachelors", "High School", "PhD", "Bachelors"]

df = pd.DataFrame(data)
print(df)

   Age  height   salary  gender    education
0   25   175.3  1500.50    Male    Bachelors
1   30   180.0  1988.25  Female  High School
2   35   190.0  2500.00    Male          PhD
3   40   212.5  1888.00  Female    Bachelors

# Ordinal Dataset

In [ ]:
data["grade"] = ["A", "B", "A", "C"]
df = pd.DataFrame(data)
print(df)

   Age  height   salary  gender    education grade
0   25   175.3  1500.50    Male    Bachelors     A
1   30   180.0  1988.25  Female  High School     B
2   35   190.0  2500.00    Male          PhD     A
3   40   212.5  1888.00  Female    Bachelors     C

# Our First Inbuilt Dataset from a library

### Install SKLEARN

In [ ]:
%pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.post12.tar.gz (2.6 kB)
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Preparing metadata (setup.py) ... error
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

# Dealing with Iris Dataset

In [ ]:
from sklearn import datasets

iris = datasets.load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]